@font-face {
    font-family: bold;
    src: url("../../assets/Fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: SemiBold;
    src: url("../../assets/Fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: reg;
    src: url("../../assets/Fonts/Poppins-Regular.ttf");
}


.procedure {
    padding: 30px 0px;
}

.heading h1 {
    font-family: bold;
    text-align: center;
    font-size: 50px;
    color: black;
}
.heading span{
    color: red;
}



.step {
    border: 5px solid red;
    padding: 30px 30px;
    margin: 200px 0;
    position: relative;
    z-index: 1;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
}

.step:nth-child(1)::before {
    content: '1st Step';
    position: absolute;
    top: -100px;
    left: 20px;
    border: 5px solid red;
    padding: 45px 30px;
    border-radius: 50%;
    z-index: -1;
    background-color: black;
    color: white;
    font-family:SemiBold ;
}
.step:nth-child(2)::before {
    content: '2st Step';
    position: absolute;
    top: -100px;
    left: 20px;
    border: 5px solid red;
    padding: 45px 30px;
    border-radius: 50%;
    z-index: -1;
    background-color: black;
    color: white;
    font-family:SemiBold ;
}
.step:nth-child(3)::before {
    content: '3st Step';
    position: absolute;
    top: -100px;
    left: 20px;
    border: 5px solid red;
    padding: 45px 30px;
    border-radius: 50%;
    z-index: -1;
    background-color: black;
    color: white;
    font-family:SemiBold ;
}
.step:nth-child(4)::before {
    content: '4st Step';
    position: absolute;
    top: -100px;
    left: 20px;
    border: 5px solid red;
    padding: 45px 30px;
    border-radius: 50%;
    z-index: -1;
    background-color: black;
    color: white;
    font-family:SemiBold ;
}
.step h1{
    text-align: center;
    font-family: bold;
}
.step p{
    text-align: center;
    font-family:reg;
    
}