@font-face {
    font-family: bold;
    src: url("../../assets/Fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: SemiBold;
    src: url("../../assets/Fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: reg;
    src: url("../../assets/Fonts/Poppins-Regular.ttf");
}


.procedure {
    padding: 30px 0px;
}

.heading h1 {
    font-family: bold;
    text-align: center;
    font-size: 50px;
    color: black;
}

.heading span {
    color: red;
}



.step {
    border: 0.5px solid red;
    padding: 30px 30px;
    margin: 200px 0;
    position: relative;
    z-index: 1;
    color: black;
    background-color: rgb(219, 219, 219);
}


.step h1 {
    text-align: center;
    font-family: bold;
    font-size: 56px;
}

.step p {
    text-align: center;
    font-family: reg;
    font-size: 22px;
}