.Procedure {
    border: 1px solid red;
    padding: 20px 0;
    margin: 20px 0;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Wrapper p {
    line-height: normal;
    text-align: center;
}
.Wrapper span{
    border: 1px solid red;
    padding: 20px;

}